body,
html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.google-login-button {
  display: block;
  width: 200px;
  margin: 0 auto 20px;
}

.bigclock-container {
  position: fixed;
  top: 10px;
  left: 10px;
}

.bigclock {
  font-size: 36px;
  padding: 10px;
  color: #fff;
}

#early-access-banner {
  position: absolute;
  top: 10px;
  user-select: none;
  right: -50px;
  width: 200px;
  height: 50px;
  background: rgba(207, 207, 207, 0.16);
  color: rgba(255, 255, 255, 0.342);
  text-align: center;
  line-height: 50px;
  transform: rotate(40deg);
  font-family: "Courier New", Courier, monospace;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: contain;
  object-fit: contain;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  zoom: 0.3;
  transform: translate(-50%, -50%);
  background: no-repeat;
  background-size: contain;
  transition: opacity 0.5s ease-in-out;
}

#pomodoro-app {
  font-size: 1.5em;
}

#timer {
  margin: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  align-self: center;
}

progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0);
}

progress::-webkit-progress-value {
  background-color: #fff;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.clock {
  margin: 20px 0;
  font-size: 5rem;
  line-height: 1;
  display: flex;
  align-items: center;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  font-weight: 300;
  color: #fff;
  border: 1px solid transparent;
  margin: 0;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  border-color: #fff;
}

.main-button {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: hsl(175, 26%, 41%);
  font-weight: bold;
  width: 200px;
  background-color: white;
  border: none;
  margin: 20px 0 0;
  padding: 0 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out;
}

button:focus,
button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}

.text {
  width: 50%;
  text-align: center;
}

.text.study {
  color: white;
}

input:checked + .slider .text.study {
  color: #2196f3;
}

.text.break {
  color: #2196f3;
}

input:checked + .slider .text.break {
  color: white;
}

#buttons {
  margin: 0.5em;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

select {
  width: 100px;
  margin-left: 10px;
}

#selection-bar {
  position: fixed;
  bottom: 20px;
  left: 5%;
  width: 90%;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#selection-bar i {
  font-size: 40px;
  margin: 0 20px;
  transition: transform 0.3s ease;
}

#selection-bar i:hover {
  transform: scale(1.1);
  color: #f3a953;
}

#selection-bar i:active {
  transform: scale(0.9);
}

@media (max-width: 600px) {
  #selection-bar .tooltip:nth-child(n + 6) {
    display: none;
  }
}

.window {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: none;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  left: 5%;
  bottom: 20px;
}
#daily-goals-window,
#music-window,
#account-window,
#clock-window,
#calendar-alt-window,
#sticky-note-window,
#settings-window,
#leaderboard-window,
#statistic-window,
#wallpaper-window,
#url-window,
#video-window,
#sound-window,
#spotify-window,
#task-window {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
}

@media (max-width: 600px) {
  #music-window,
  #account-window,
  #clock-window,
  #calendar-alt-window,
  #sticky-note-window,
  #settings-window,
  #leaderboard-window,
  #statistic-window,
  #wallpaper-window,
  #url-window,
  #video-window,
  #sound-window,
  #spotify-window,
  #task-window {
    height: 200px;
    width: 200px;
  }
}

.playlist-selection,
.song-selection {
  padding: 10px;
}

#youtube-url-container {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

#youtube-url-container input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#youtube-video {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 11%;
  left: 0;
}

#youtube-video iframe {
  width: 100%;
  height: 100%;
}

.window-header {
  text-align: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  color: white;
  padding: 10px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-content {
  width: auto;
  height: auto;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.ce-toolbar__actions.ce-toolbar__actions--opened {
  width: 2rem !important;
}

.cdx-marker,
.ce-conversion-toolbar__tools,
.ce-inline-toolbar__toggler-and-button-wrapper,
.ce-toolbar__plus,
.ce-toolbar__actions,
.ce-toolbar__settings-btn {
  color: black !important;
}

.ce-toolbar__plus,
.ce-toolbar__actions,
.ce-toolbar__settings-btn {
  left: 0 !important;
}

.ce-block {
  padding-left: 55px;
  z-index: 1;
}

::selection {
  background: #ff800050 !important;
  color: white;
}

#sticky-note-textarea {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  backdrop-filter: blur(10px);
  flex-grow: 1;
  height: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  resize: none;
}

.close-window {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.close-window i {
  color: white;
}

#calendar {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  flex-grow: 1;
}

.window-music-content .music-control.shuffle-enabled i.fa-random {
  color: #ff800050;
}

.parent-container {
  position: relative;
}

.window-music-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  width: 90%;
}

.song-selection {
  height: 50%;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px 20px 0 20px;
  font-size: 16px;
}

#song-list {
  list-style-type: none;
  padding: 0;
}

#song-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#song-list li:hover {
  background-color: #ff800050;
  cursor: pointer;
}

#track_name {
  order: 1;
}

#current_time,
#progress_slider,
#time_controls,
#total_time {
  order: 2;
  width: 60%;
  text-align: center;
}

.logout-button {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.legal_notice-button,
.privacy_policy-button,
#next-button {
  position: fixed;
  left: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px 20px;
  width: 200px;
  height: 50px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
}

.legal_notice-button a,
.privacy_policy-button a {
  display: block;
}

.legal_notice-button {
  top: 70px;
}

.privacy_policy-button {
  top: 150px;
}

#next-button {
  top: 230px;
}

.legal_notice-button a:hover,
.privacy_policy-button a:hover,
#next-button:hover {
  background-color: #45a049;
}

.music-controls {
  order: 3;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

music-control svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

::-webkit-scrollbar {
  width: 20px;
  height: 50px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#url-input-container {
  padding: 10px;
  color: #000;
}

#url-input {
  width: 97%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #ffffff;
  height: 25px;
  font-size: 16px;
  background-color: #0a0a0a;
}

#url-list {
  max-height: 200px;
  overflow-y: auto;
}

.url-item span {
  color: #333;
  background-color: #0a0a0a;
  font-size: 40%;
}

.url-item {
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #0a0a0a;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ffffff;
}

.url-item a {
  text-decoration: none;
  color: #ffffff;
}

.sound-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sound-icon {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease;
}

.sound-icon img {
  width: 100%;
  height: auto;
  margin: 0 5px;
}

.sound-icon:active {
  transform: rotate(15deg);
}

.wallaper-selection {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.wallaper-selection::-webkit-scrollbar {
  display: none;
}

.wallaper-selection-image {
  border-radius: 20px;
  width: 300px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.wallaper-selection-image:hover {
  transform: scale(1.1);
}

.scroll-arrow {
  position: fixed;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-arrow:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.scroll-arrow svg {
  width: 20px;
  height: 20px;
  stroke: black;
  transition: transform 0.3s;
}

.scroll-arrow.left {
  left: 0;
}

.scroll-arrow.left:hover svg {
  transform: translateX(-5px);
}

.scroll-arrow.right {
  right: 0;
}

.scroll-arrow.right:hover svg {
  transform: translateX(5px);
}

.wallaper-selection-image::-webkit-media-controls {
  display: none !important;
}

.window-content iframe {
  display: none;
}

.window-content #soundcloud-1 {
  display: block;
}

.soundcloud-container {
  display: flex;
  width: 100%;
  border-radius: 1px;
  border: 1px solid #e5e5e5;
}

.overlay-container {
  position: relative;
}

#soundcloud-select {
  position: absolute;
  width: 90%;
  color: #ffffff;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  top: 330px;
  left: 20px;
  background-color: #0a0a0a;
  margin-top: 20px;
  outline: none;
  border-color: #007bff;
}

.volume-slider {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.volume-slider input[type="range"] {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 200px;
  padding: 0;
  margin: 0;
  background: transparent;
}

.volume-slider input[type="range"]::-webkit-slider-thumb,
.volume-slider input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.volume-slider label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

iframe {
  width: 80%;
}

.soundcloud-container iframe {
  filter: invert(1) hue-rotate(180deg);
}

.settings-container {
  padding: 20px;
}

.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.settings-text {
  font-size: 16px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings-footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.settings-item {
  margin: 0 10px;
}

.settings-link {
  color: grey;
  text-decoration: underline;
}

#save-button,
#load-button {
  color: #fff;
  font-size: 1.5em;
  border: none;
  padding: 10px 20px;
  transition: transform 0.1s;
}

#save-button:active,
#load-button:active {
  transform: scale(0.9);
}

#sticky-note-editorjs {
  max-height: 50vh;
  overflow-y: auto;
}

#coming-soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: fadeIn 2s ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.form-group input {
  width: 60%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.form-group input::placeholder {
  color: lightgrey;
}

.form-group button {
  width: 60%;
  max-width: 500px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-group button:hover {
  transform: scale(1.05);
}

.form-group button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-group button[style="background-color: red;"]:hover {
  background-color: #c82333;
}

@media (max-width: 600px) {
  .form-group input,
  .form-group button {
    width: 100%;
    max-width: none;
  }
}

.tooltip,
.info {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext,
.info-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext {
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
}

.info-text {
  left: 125%;
  bottom: 75%;
  opacity: 0;
  font-size: 12px;
}

.tooltip:hover .tooltiptext,
.info:hover .info-text {
  visibility: visible;
  opacity: 1;
}

#fullscreen-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

#fullscreen-btn:hover {
  transform: scale(1.15);
}

.user-icon {
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform-origin: left top;
}

.user-icon:hover {
  transform: scale(1.1);
  color: #f3a953;
}

#user-icon:active {
  transform: scale(0.9) !important;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

.task:hover {
  background-color: #f9f9f9;
  color: #141212;
}

.task-check {
  margin-right: 10px;
}

.task-name {
  flex-grow: 1;
}

.task-menu {
  cursor: pointer;
  transition: color 0.3s ease;
}

.task-menu:hover {}

#task-form {
  margin-bottom: 20px;
}

#task-form input[type="text"],
#task-form input[type="number"] {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

#add-task-btn,
#save-task-btn {
  background-color: #ff800050;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-task-btn:hover,
#save-task-btn:hover {
  background-color: #ff800050;
}

#nextButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

#nextButton svg {
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

#nextButton:hover svg {
  color: white;
  transform: scale(1.2);
}

#nextButton:active svg {
  transform: scale(0.9);
}

#nextButton.clicked svg {
  color: #ff800050;
}

.dropdown-menu {
  display: none;
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  min-width: 180px;
  z-index: 1;
}

.dropdown-menu a {
  color: rgb(255, 255, 255) !important;
  padding: 8px 12px !important;
  text-decoration: none !important;
  display: block !important;
  font-size: 14px !important;
}

.dropdown-menu a:hover {
  background-color: #f3a953 !important;
  color: #333 !important;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu a i {
  margin-right: 5px !important;
  font-size: 16px !important;
}

.dropdown-menu a i:hover {
  background-color: #f3a953 !important;
  color: #333 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 9999;
  display: none;
}

.overlay.active {
  display: block;
}

#about-us {
  user-select: none;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  text-align: justify;
}

#about-us.active {
  display: flex;
}

#about-us .login-logo {
  display: block;
  margin-top: 20px;
  width: 200px;
  height: auto;
}

#about-us h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
}

#about-us p {
  margin-top: 50px;
  max-width: 50%;
  text-align: center;
  padding: auto;
  line-height: 1.6;
}

#links-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

#about-us a {
  font-size: 30px;
  color: #f3a953;
  text-decoration: none;
  margin-top: 20px;
}

#about-us a:hover {
  color: #fff;
}

.close-button {
  position: absolute;
  top: 30px;
  right: 60px;
  background: none;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 19999;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  gap: 20px;
}

.icon-box {
  user-select: none;
  width: 30%;
  height: 80px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease;
  margin-right: 20px;
  padding-left: 20px;
}

.icon-box i {
  font-size: 2em;
}

.icon-box i + span {
  font-weight: bold;
  margin-left: 10px;
}

.icon-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.icon-box:nth-child(1):hover i {
  color: #079aeb;
}

.icon-box:nth-child(2):hover i {
  color: #d8205e;
}

.icon-box:nth-child(3):hover i {
  color: orange;
}

.icon-box img {
  width: 50%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  color: #ffffff;
}

ul li:last-child {
  border-bottom: none;
}

@keyframes shimmer {
  0% {
    text-shadow: 0 0 5px #ffc700, 0 0 10px #ffc700, 0 0 15px #ffc700, 0 0 20px #ffc700;
  }

  50% {
    text-shadow: 0 0 10px #ffc700, 0 0 15px #ffc700, 0 0 20px #ffc700, 0 0 25px #ffc700, 0 0 30px #ffc700;
  }

  100% {
    text-shadow: 0 0 5px #ffc700, 0 0 10px #ffc700, 0 0 15px #ffc700, 0 0 20px #ffc700;
  }
}

.fas.fa-crown {
  color: gold;
  animation: shimmer 1s ease-in-out infinite;
}

.first-place {
  color: gold;
  font-weight: bold;
  animation: shimmer 1s ease-in-out infinite;
}

.email-link {
  color: inherit;
  text-decoration: none;
}

.second-place {
  color: #c0c0c0;
}

.third-place {
  color: #cd7f32;
}

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #14141d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 16px solid #626262;
  border-radius: 30%;
  border-top: 16px solid #ffffff;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.title {
  color: white;
  font-family: Courier;
  font-size: 25px;
}

.title::after {
  content: "";
  position: absolute;
  animation: loadingTitle 2s infinite;
}

.white-logo {
  width: 300px;
  height: 300px;
}

.loader {
  margin: 5% auto 30px;
}

.book {
  border: 20px solid #fff;
  width: 300px;
  background: #f3a953;
  border-radius: 10px;
  height: 225px;
  position: relative;
  perspective: 750px;
  background-image: linear-gradient(#fff 1px, transparent 1px);
  background-size: 100% 1.6em;
}

.page {
  display: block;
  border-radius: 10px;
  width: 150px;
  height: 225px;
  border: 20px solid #fff;
  border-left: 5px solid #f3a953;
  margin: 0;
  position: absolute;
  right: -20px;
  top: -20px;
  overflow: hidden;
  background: #f3a953;
  transform-style: preserve-3d;
  transform-origin: left center;
  background-image: linear-gradient(#fff 1px, transparent 1px);
  background-size: 100% 1.6em;
}

.book .page:nth-child(1) {
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
}

.book .page:nth-child(2) {
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
}

.book .page:nth-child(3) {
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
}

@keyframes pageTurn {
  0% {
    transform: rotateY(0deg);
    background-image: linear-gradient(#fff 1px, transparent 1px);
  }

  20% {
    background: #f3a953;
    background-image: linear-gradient(#fff 1px, transparent 1px);
  }

  40% {
    background: #f3a953;
    transform: rotateY(-180deg);
    background-image: linear-gradient(#fff 1px, transparent 1px);
  }

  100% {
    background: #f3a953;
    transform: rotateY(-180deg);
    background-image: linear-gradient(#fff 1px, transparent 1px);
  }
}

@keyframes Dots {
  0% {
    content: "";
  }

  33% {
    content: ".";
  }

  66% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

.ce-toolbox {
  pointer-events: none;
  position: relative !important;
}

.ce-popover {
  background-color: #f3a953 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 5px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  position: relative;
  top: 40px;
  z-index: 9999 !important;
}

@media only screen and (min-device-width: 1224px) and (max-device-width: 1600px),
only screen and (max-device-width: 768px) {
  #background {
    background-image: url('https://images.hdqwalls.com/download/lofi-girl-coffee-in-hand-od-2880x1800.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}


