body, html{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

a{
    text-decoration: none;
    color: white;
}

ul li{
    list-style-type: none;
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110vh;
    /* for 2nd Section */
    /* grid-template-rows: 955px 200px;  */
}

.section1{
    display: grid;
    grid-template-rows: 130px 1fr;
    background-image: linear-gradient(rgba(0,0,0,0.396),rgba(0, 0, 0, 0.396)),url(https://i.ibb.co/mRv6Vh9/loginbg.png);
    background-size: cover;

}

.header{
    display: flex;
    justify-content: space-between;
}

.header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: 5.5em;
    margin-left: 3%;
    margin-top: 1em;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .2em;
    color: rgb(255, 255, 255);
    
    border-bottom: -20em;
    border-radius: 10px;
    cursor: pointer;
}

@keyframes popup{
    from{
        transform: translateY(100px);
    }
    to{
        transform: translateY(0px);
    }
}

.header .nav-btn{
    margin-right: 30px;
    margin-top: 30px;
}

.header .nav-btn ul {
    display: flex;
}

.header .nav-btn ul li a{
    margin-right: 2rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.hero-main {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
}

.hero-main .hero-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  height: 700px;
  margin-left: 80px;
  margin-top: 30px;
  animation-name: popup;
    animation-duration: 2s;
   }

   .hero-img-btn {
    display: block;
    margin: auto auto auto 70px; /* 20px left margin */
    height: 40px;
    width: 120px;
    text-align: center;
    border: solid 4px #f3a953;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-img-btn:hover {
    background-color: #f3a953; /* Change color on hover */
    transform: scale(1.1); /* Scale up on hover */
}
   
   .brandName{
   font-size: 100px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, cursive;
   font-weight: 900;
   }

   .hero-text {
    display: flex; /* Add this line */
    margin-top: -60px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center; /* Add this line */
}
  


   .header .nav-btn ul li:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px ;
    width: 100px;
    padding: 5px;
    margin-top: -12px;
    margin-left: 20px;
    border: solid 2px #f3a953;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add this line */
}

.header .nav-btn ul li:nth-child(3):hover {
    background-color: #f3a953; /* Change color on hover */
    transform: scale(1.1); /* Scale up on hover */
}

.header .nav-btn ul li:nth-child(3) .acc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -30px;
}
/* 
.section2{
    height: auto;
    background: linear-gradient(120deg, rgb(127, 127, 128), rgb(197, 197, 196))
} */
.web-prev {
    width: 90%;
    transform: perspective(800px) rotateY(-8deg);
    transition: transform 1s ease 0s;
    border-radius: 4px;
    overflow: hidden; /* Add this line */
}

.web-prev:hover {
    transform: perspective(800px) rotateY(-4deg);
}

.footer-links {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f8f9fa00; /* Change this to match your site's footer background color */
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    padding: 10px 0; /* Add some padding */
}

.settings-item {
    margin: 0 10px; /* Add some margin to the left and right of each link */
}


.login-logo {
    
    width: 300px; /* Adjust this to make the image smaller or larger */
    height: 300px; /* Adjust this to make the image smaller or larger */
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.19)) drop-shadow(0 6px 6px rgba(0, 0, 0, 0.23));
    display: flex; /* Add this line */
    margin-bottom: 100px ; /* Add this line */
  }
  
  .white-logo {
    filter: invert(1) brightness(100);
  }