  
    body, html{
        padding: 0;
        margin: 0;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    body {
        display: grid;
        grid-template-rows: 130px 1fr;
        background-image: linear-gradient(rgba(0,0,0,0.396),rgba(0, 0, 0, 0.396)),url('https://i.ibb.co/mRv6Vh9/loginbg.png');
        background-size: cover;
    }
   
    .nav-item {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
    }
    
    .nav-item a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        transition: color 0.3s ease;
        padding: 5px; /* Add padding around the text */
    }
    
    .nav-item a:hover {
        color: #F3A953;
    }
    
    /* Add a special rule for the login item */
    .nav-item a.login {
        border: 2px solid orange; /* Add an orange border */
        border-radius: 5px; /* Make the border corners rounded */
    }
    .hero-text p, .hero-img-btn {
        color: white;
    }
    a {
        color: white; /* Change this to your desired color */
        text-decoration: none; /* This removes the underline */
    }
    
    a:hover {
        text-decoration: none; /* This removes the underline */
        color: white; /* Change this to your desired hover color */
    }
    .navbar-brand img {
        width: 20%; /* Adjust the width */
        height: auto; /* Keep the aspect ratio */
    }
    .web-prev {
        width: 90%;
        transform: perspective(800px) rotateY(-8deg);
        transition: transform 1s ease 0s;
        border-radius: 4px;
        overflow: hidden; /* Add this line */
    }
    
    .web-prev:hover {
        transform: perspective(800px) rotateY(-4deg);
    }
    .footer-links {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #f8f9fa00; /* Change this to match your site's footer background color */
        display: flex; /* Add this line */
        justify-content: center; /* Add this line */
        padding: 10px 0; /* Add some padding */
    }
.login-logo {
    
    width: 300px; /* Adjust this to make the image smaller or larger */
    height: 300px; /* Adjust this to make the image smaller or larger */
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.19)) drop-shadow(0 6px 6px rgba(0, 0, 0, 0.23));
    display: flex; /* Add this line */
    margin-bottom: 100px ; /* Add this line */
  }
  
  .white-logo {
    filter: invert(1) brightness(100);
  }
  .content-container {
    margin-left: 195px; /* Adjust this value as needed */
}
.hero-img-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F3A953; /* Change to your preferred button color */
    color: white; /* Change to your preferred text color */
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.hero-img-btn:hover {
    background-color: #F39C53; /* Change to your preferred hover color */
    transform: scale(1.1); /* Makes the button slightly larger when hovered */
}
