body,
html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #333;
}

.google-login-button {
  display: block;
  width: 200px;
  margin: 0 auto 20px;
  /* Zentriert den Button und fügt einen unteren Abstand hinzu */
}

#clockgroß {
  top: 40px;
  right: 10px;
  color: white;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: contain;
  object-fit: contain;
  overflow: hidden;
  /* Add this line */
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  zoom: 0.5;
  transform: translate(-50%, -50%);
  background: no-repeat;
  background-size: contain;
}

#pomodoro-app {
  font-size: 1.5em;
}

#timer {
  margin: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  align-self: center;
  top: 0;
  left: 0;
}

progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
}

progress::-webkit-progress-value {
  background-color: #fff;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.clock {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 5rem;
  line-height: 1;
  display: flex;
  align-items: center;
  font-family: arial, sans-serif;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: #fff;
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  border-color: #fff;
}

.main-button {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: hsl(175, 26%, 41%);
  font-weight: bold;
  width: 200px;
  background-color: white;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus,
button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(100%);
}

.text {
  width: 50%;
  text-align: center;
}

.text.study {
  color: white;
}

input:checked + .slider .text.study {
  color: #2196f3;
}

.text.break {
  color: #2196f3;
}

input:checked + .slider .text.break {
  color: white;
}

#buttons {
  margin: 0.5em;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

select {
  width: 100px;
  margin-left: 10px;
}

#selection-bar {
  position: fixed;
  bottom: 20px;
  /* Lassen Sie die Leiste über dem unteren Rand schweben */
  left: 5%;
  /* Zentrieren Sie die Auswahlleiste */
  width: 90%;
  /* Reduzieren Sie die Breite, um die abgerundeten Ecken sichtbar zu machen */
  height: 80px;
  /* oder die gewünschte Höhe */
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  /* optionaler heller Rand */
  display: flex;
  justify-content: space-around;
  /* Verteilen Sie die Icons gleichmäßig */
  align-items: center;
  color: white;
  /* Textfarbe */
  font-size: 20px;
  /* Schriftgröße */
  border-radius: 10px;
  /* Halbe Höhe für vollständig abgerundete Ecken */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* Schatten für den "Schwebe"-Effekt */
}

#selection-bar i {
  font-size: 40px;
  /* Size of the icons */
  margin: 0 20px;
  /* Space between the icons */
  transition: transform 0.3s ease;
  /* Smooth transition for hover effect */
}

#selection-bar i:hover {
  transform: scale(1.1);
  /* Increase the size of the icon when hovered */
  color: #f3a953;
  /* Change the color when hovered */
}

#selection-bar i:active {
  transform: scale(0.9);
  /* Decrease the size of the icon when clicked */
}

.window {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* Same as the selection bar */
  display: none;
  /* Hide windows by default */
  justify-content: space-around;
  /* Same as the selection bar */
  align-items: center;
  /* Same as the selection bar */
  color: white;
  /* Same as the selection bar */
  font-size: 20px;
  /* Same as the selection bar */
  border-radius: 10px;
  /* Same as the selection bar */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* Same as the selection bar */
  left: 5%;
  /* Same as the selection bar */
  bottom: 20px;
  /* Same as the selection bar */
}

#music-window {
  height: 400px;
  top: 50%;
  left: 50%;
  width: 400px;
  user-select: none;
}

#clock-window {
  height: 400px;
  top: 50%;
  left: 50%;
  width: 400px;
  user-select: none;
}

#calendar-alt-window {
  height: 700px;
  top: 50%;
  left: 50%;
  width: 400px;
  user-select: none;
}

#sticky-note-window {
  height: 600px;
  top: 50%;
  left: 50%;
  width: 600px;
}

#settings-window {
  height: 600px;
  top: 50%;
  left: 50%;
  width: 600px;
  user-select: none;
}
#gpt-window {
  height: 600px;
  top: 50%;
  left: 50%;
  width: 600px;
  user-select: none;
}


#wallpaper-window {
  position: fixed;
  top: calc(80% - 80px);
  /* Adjust this value based on the actual height of your selection bar */
  height: 300px;
  width: 800px;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

#url-window {
  height: 300px;
  top: 50%;
  left: 50%;
  width: 400px;
  top: 50%;
  left: 50%;
  resize: both;
  user-select: none;
}

#video-window {
  height: 100px;
  top: 50%;
  left: 50%;
  width: 300px;
  resize: both;
  overflow: hidden;
  user-select: none;
}

#sound-window {
  height: 300px;
  top: 50%;
  left: 50%;
  width: 200px;
  user-select: none;
}

#spotify-window {
  height: 400px;
  top: 50%;
  left: 50%;
  width: 400px;
  user-select: none;
}

.playlist-selection {
  padding: 10px;
}

#video-window .window-content {
  width: 100%;
  height: 100%;
  position: relative;
}

#youtube-url-container {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

#youtube-url-container input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#youtube-video {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  margin-top: 11%;
  left: 0;
}

#youtube-video iframe {
  width: 100%;
  height: 100%;
}

#playlist-selector {
  width: 90%;
  height: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
}

.window-header {
  text-align: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  color: white;
  padding: 10px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-content {
  width: auto;
  height: auto;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.ce-toolbar__actions.ce-toolbar__actions--opened {
  width: 2rem !important;
}

.cdx-marker {
  background-color: #f3a953 !important;
}

.ce-conversion-toolbar__tools {
  color: black !important;
}

.ce-inline-toolbar__toggler-and-button-wrapper {
  color: black !important;
}

.ce-toolbar__plus,
.ce-toolbar__actions,
.ce-toolbar__settings-btn {
  left: 0 !important;
  color: white !important;
}

.ce-block {
  padding-left: 55px;
  z-index: 1;
}

::selection {
  background: #ff800050 !important;
  color: white;
}

.ce-toolbar__plus:hover {
  background: #ff800050 !important;
  color: inherit;
}

.ce-block--selected .ce-block__content {
  background: #ff800050 !important;
}

#sticky-note-textarea {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  backdrop-filter: blur(10px);
  flex-grow: 1;
  height: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  resize: none;
}

.close-window {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.close-window i {
  color: white;
}

#calendar {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  flex-grow: 1;
}

.window-music-content .music-control.shuffle-enabled i.fa-random {
  color: #ff800050;
}

.parent-container {
  position: relative;
}

.window-music-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  width: 90%;
}

.song-selection {
  height: 50%;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  padding-top: 0px !important;
  font-size: 16px;
}

#song-list {
  list-style-type: none;
  padding: 0;
}

#song-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#song-list li:hover {
  background-color: #ff800050;
  cursor: pointer;
}

#track_name {
  order: 1;
}

#current_time,
#progress_slider,
#time_controls,
#total_time {
  order: 2;
  width: 60%;
  text-align: center;
}

.logout-button {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.legal_notice-button {
  position: fixed;
  left: 20px;
  top: 70px;
  display: flex;
  flex-direction: column;
}

.legal_notice-button a,
.privacy_policy-button a,
#next-button {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  width: 200px;
  height: 50px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  box-sizing: border-box;
}

.legal_notice-button a:hover {
  background-color: #45a049;
}

.privacy_policy-button {
  position: fixed;
  left: 20px;
  top: 150px;
  display: flex;
  flex-direction: column;
}

#next-button {
  position: fixed;
  left: 20px;
  top: 230px;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  font-size: 16px;
}

.privacy_policy-button a:hover {
  background-color: #45a049;
}

#next-button:hover {
  background-color: #45a049;
}

.music-controls {
  order: 3;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.music-control svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

::-webkit-scrollbar {
  width: 20px;
  height: 50px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#url-input-container {
  padding: 10px;
  color: #000;
}

#url-input {
  width: 97%;

  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #ffffff;
  height: 25px;
  font-size: 16px;
  background-color: #0a0a0a;
}

#url-list {
  max-height: 200px;
  overflow-y: auto;
}

.url-item span {
  color: #333;
  background-color: #0a0a0a;
  font-size: 40%;
}

.url-item {
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 10px;
  background-color: #0a0a0a;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ffffff;
}

.url-item a {
  text-decoration: none;
  color: #ffffff;
}

.sound-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sound-icon {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease;
}

.sound-icon img {
  width: 100%;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.sound-icon:active {
  transform: rotate(15deg);
}

.wallaper-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wallaper-selection-image {
  display: center;
  border-radius: 10px;
  width: 20%;
  margin: 10px;
  transition: transform 0.3s ease;
}

.wallaper-selection-image:hover {
  transform: scale(1.1);
}

#background-video {
  transition: opacity 0.5s ease-in-out;
}

.wallaper-selection-image::-webkit-media-controls {
  display: none !important;
}

.window-content iframe {
  display: none;
}

.window-content #soundcloud-1 {
  display: block;
}

#soundcloud-select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: center;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background-color: #f8f8f8;
  color: #333;
}

#soundcloud-select:focus {
  outline: none;
  border-color: #007bff;
}

.volume-slider {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.volume-icon {
  margin-right: 10px;
}

.volume-slider input[type="range"] {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 200px;
  padding: 0;
  margin: 0;
  background: transparent;
}

.volume-slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.volume-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.volume-slider label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

iframe {
  width: 80%;
}

.soundcloud-container {
  display: flex;
  width: 100%;
  border-radius: 1px;
  border: 1px solid #e5e5e5;
}

.overlay-container {
  position: relative;
}

#soundcloud-select {
  position: absolute;
  width: 90%;
  color: #ffffff;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  top: 330px;
  left: 20px;
  background-color: #0a0a0a;

  margin-top: 20px;
}

#soundcloud-select::-ms-expand {
  color: #ffffff;
}

.volume-slider,
iframe {
  order: -1;
}

.parent-container {
  position: relative;
}

.soundcloud-container iframe {
  filter: invert(1) hue-rotate(180deg);
}

.settings-container {
  padding: 20px;
}

.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}

.settings-text {
  font-size: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings-footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.settings-item {
  margin: 0 10px;
}

.settings-link {
  color: grey;
  text-decoration: underline;
}

#save-button {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  border: none;
  padding: 10px 20px;
  transition: transform 0.1s;
}

#save-button:active {
  transform: scale(0.9);
}

#load-button {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  border: none;
  padding: 10px 20px;
  transition: transform 0.1s;
}

#load-button:active {
  transform: scale(0.9);
}

#sticky-note-editorjs {
  max-height: 50vh;
  overflow-y: auto;
}
