<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="LofiStudy is a website that helps you to study by giving you a distraction free enviroment."
    />
    <meta name="author" content="LofiStudy" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
   
    <script src="{{ url_for('static', filename='loginscript.js') }}"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preload" as="image" href="https://i.ibb.co/K0qdm4r/lgsarius-cyberpunk-night-study-girl-window-desklight-c1650ad7-776d-470a-a2e0-da9e78140212.webp">
    <link rel="preload" as="image" href="https://i.ibb.co/pdsgshq/lgsarius-Lofi-girl-and-cat-studying-in-a-field-sunset-3d94459d-fd73-43ee-8c1f-c4547239bb7a.webp">
    <link rel="preload" as="image" href="https://i.ibb.co/fGQQfWr/lgsarius-Lofi-study-girl-on-desk-cybperunk-like-coffee-rain-82a5d58d-44f1-4b9a-ae8f-1f82844543a6.webp">
    <link rel="preload" as="image" href="https://i.ibb.co/PG0bPhB/lgsarius-Lofi-study-girl-on-desk-plants-rain-coffee-rain-02e5bc5f-943e-4c0b-b986-1cf5d7362034.webp">
    <link rel="preload" as="image" href="https://i.ibb.co/m9QYfwJ/lgsarius-Lofi-Trainstation-sunset-648859c2-8af6-4b30-b276-dca8f45ba231.webp">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='styleneu.css') }}"
  />
    <title>Lofistudy Homepage</title>
</head>
<style>
    .navbar {
        background-color: rgba(255, 255, 255, 0.1) !important; /* Semi-transparent white */
        backdrop-filter: blur(10px) !important; /* Blur the area behind the element */
        border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important; /* Optional: Add a border */
        border-bottom-left-radius: 10px !important; /* Rounded bottom left corner */
        border-bottom-right-radius: 10px !important; /* Rounded bottom right corner */
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width: 100%; top: 0; z-index: 100;">
        <a class="navbar-brand" href="">
           <img class="logo-shadow" src={{ url_for('static', filename='favicon.ico') }} alt="Logo">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a onclick="myFunction()" href="{{ url_for('contact') }}"><span class="acc">Contact</a>
                </li>
                <li class="nav-item">
                    <a onclick="myFunction()" href="{{ url_for('FAQ') }}"><span class="acc">FAQ</a>
                </li>
                <li class="nav-item">
                    <a onclick="myFunction()" href="{{ url_for('login') }}" class="nav-item a login hero-img-btn">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" >
                <div class="hero-img">
                    <img src="{{ url_for('static', filename='logo_text.svg') }}" alt="LofiStudy Logo" class="login-logo white-logo">
                </div>
                <div class="hero-text" style="text-align: center;">
                    <p style="font-size: 2em;">Your calm, digital space to
                        <br><br><span style="text-align: center;" id="typed-text"></span>
                    </p>
                    </div>
                    <a onclick="myFunction()" href="{{ url_for('signup') }}" class="hero-img-btn">Register now</a>
                </div>
            <div class="col-md-6">
              <img id="image1" src="{{ url_for('static', filename='media/Macchrome.webp') }}" alt="website preview" class="web-prev img-shadow smooth-transition">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 90%;">
               
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 " style="border-radius: 10px !important;" src="https://i.ibb.co/K0qdm4r/lgsarius-cyberpunk-night-study-girl-window-desklight-c1650ad7-776d-470a-a2e0-da9e78140212.webp" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 " style="border-radius: 10px !important;" src="https://i.ibb.co/fGQQfWr/lgsarius-Lofi-study-girl-on-desk-cybperunk-like-coffee-rain-82a5d58d-44f1-4b9a-ae8f-1f82844543a6.webp" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 " style="border-radius: 10px !important;" src="https://i.ibb.co/pdsgshq/lgsarius-Lofi-girl-and-cat-studying-in-a-field-sunset-3d94459d-fd73-43ee-8c1f-c4547239bb7a.webp" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 " style="border-radius: 10px !important;" src="https://i.ibb.co/PG0bPhB/lgsarius-Lofi-study-girl-on-desk-plants-rain-coffee-rain-02e5bc5f-943e-4c0b-b986-1cf5d7362034.webp" alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 " style="border-radius: 10px !important;" src="https://i.ibb.co/m9QYfwJ/lgsarius-Lofi-Trainstation-sunset-648859c2-8af6-4b30-b276-dca8f45ba231.webp" alt="Fifth slide">
                    </div>
                </div>
            </div>
        </div>
              <div class="col-md-5" >
                <div class = "content-container">
                <div class="hero-text">
                    <h1 style="text-align: center;">Craft your focus environment</h1>
                    <p style="text-align: center;">Whether you prefer getting work done in the cozy atmosphere of a cafe or escaping to the tranquil shores of the beach, lofistudy offers you both experiences and much more.
                       
                    </p>
                    </div>
                </div>
                </div>
        </div>

        <div class="row">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Lofistudy Features</h2>
                <hr class="divider">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-2">
                            <i class="fas fa-clock fa-4x"></i>
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Pomodoro Timer</h3>
                            <p class="text-muted mb-0">Boost productivity with our Pomodoro Timer feature, helping you stay focused and efficient.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-2">
                            <i class="fab fa-soundcloud fa-4x"></i>
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Curated Music</h3>
                            <p class="text-muted mb-0">Enhance your study sessions with our vast collection of curated music playlists suitable for every mood.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-2">
                            <i class="fas fa-clipboard fa-4x"></i>
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Task Planner</h3>
                            <p class="text-muted mb-0">Stay organized and on top of your tasks with our intuitive Task Planner</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-2">
                            <i class="fas fa-sticky-note fa-4x"></i>
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Notes Window</h3>
                            <p class="text-muted mb-0">Capture your thoughts and ideas effortlessly with our Notes Window</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
   
        <div class="row row-with-line">
            <div class="container py-3 footer-with-line">
                <div class="footer-content d-flex justify-content-between align-items-center">
                    <!-- Copyright and logo on the left -->
                    <div class="footer-left">
                      
                        <div class="copyright py-2">
                            <img class="logo-shadow reduced-size" src={{ url_for('static', filename='favicon.ico') }} alt="Logo">
                            <p class="text-white">Copyright © 2024 Lofistudy</p>
                        </div>
                    </div>
                    <!-- Legal and Privacy in the middle -->
                    <div class="footer-middle">
                        <div class="settings-item py-2">
                            <a href="{{ url_for('legal_notice') }}" class="settings-link text-white">Legal Notice</a>
                        </div>
                        <div class="settings-item py-2">
                            <a href="{{ url_for('privacy_policy') }}" class="settings-link text-white">Privacy Policy</a>
                        </div>
                    </div>
                    <!-- Social media links on the right -->
                    <div class="footer-right">
                        <div class="settings-item py-2">
                            <a href="https://www.instagram.com/your_instagram_handle" class="settings-link text-white">
                                <i class="fab fa-instagram fa-3x"></i>
                            </a>
                        </div>
                        <div class="settings-item py-2">
                            <a href="https://twitter.com/your_twitter_handle" class="settings-link text-white">
                                <i class="fab fa-twitter fa-3x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>      
        </div>     
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
      // document.addEventListener('contextmenu', event => event.preventDefault());
        $(document).ready(function() {
          var current = 0;
          var images = $(".prev-image > img");
          images.first().show(); // Show the first image initially
          images.not(':first').hide(); // Hide other images
        
          function cycleImages() {
            var next = ((current + 1) % images.length);
            $(images[current]).fadeOut('slow', function() {
              // This callback function is executed after the current image has completely faded out
              $(images[next]).fadeIn('slow'); // Start fading in the next image
            });
            current = next;
          }
        
          cycleImages(); // Call cycleImages once to start the cycling immediately
          setInterval(cycleImages, 5000);
        });
          var typed = new Typed('#typed-text', {
              strings: ["Work", "Study", "Chill", "Code"],
              typeSpeed: 120,
              backSpeed: 120,
              backDelay: 500, // Wait for 500ms before backspacing
              smartBackspace: true, // Only backspace what doesn't match the previous string
              loop: true
          });
          $(document).ready(function(){
            $('.carousel').carousel({
              interval: 1500
            })
        });
        document.addEventListener("DOMContentLoaded", function() {
            var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
          
            if ("IntersectionObserver" in window) {
              let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
                entries.forEach(function(entry) {
                  if (entry.isIntersecting) {
                    let lazyImage = entry.target;
                    lazyImage.src = lazyImage.dataset.src;
                    lazyImage.classList.remove("lazy");
                    lazyImageObserver.unobserve(lazyImage);
                  }
                });
              });
          
              lazyImages.forEach(function(lazyImage) {
                lazyImageObserver.observe(lazyImage);
              });
            }
          });
        </script>
      </script>
</body>
</html>