<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="LofiStudy is a website that helps you to study by giving you a distraction free enviroment."
    />
    <meta name="author" content="LofiStudy" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styleneu.css') }}"
    />
    <script src="{{ url_for('static', filename='loginscript.js') }}"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <title>Lofistudy Homepage</title>
  </head>
  <body>
    <div class="main">
      <div class="section1">
        <div class="header">
            <a href=""> <div class="logo"></div></a>  
          <div class="nav-btn">
            <ul>
              <li><a onclick="myFunction()" href="{{ url_for('contact') }}"><span class="acc">Contact</a></li>
              <li><a onclick="myFunction()" href="{{ url_for('FAQ') }}"><span class="acc">FAQ</a></li>
          
              <li>
                <a onclick="myFunction()" href="{{ url_for('login') }}"><span class="acc">Login </span></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex-container" style="display: flex; flex-direction: row;">
            <div class="hero-main">
                <div class="hero-contents">
                    <div class="content-container">
                        <div class="hero-img">
                            <img src="{{ url_for('static', filename='logo_text.svg') }}" alt="LofiStudy Logo" class="login-logo white-logo">
                        </div>
                        <div class="hero-text">
                            <p>
                                
Your calm, digital space to
                                <br><br><span id="typed-text"></span>
                            </p>
            </div>
            <a onclick="myFunction()" href="{{ url_for('signup') }}" class="hero-img-btn">Register now</a>
        </div>
       
        </div>
    </div>
    <div class="prev-image" style="display: flex;  height: 80vh;">
        <img src="{{ url_for('static', filename='media/Macchrome.svg') }}" alt="website preview" class="web-prev img-shadow">
    </div>
</div>
      <div class="section2"></div>
    </div>
    <div class="settings-footer">
        <div class="footer-links">
            <div class="settings-item">
                <a href="{{ url_for('legal_notice') }}" class="settings-link">Legal Notice</a>
            </div>
            <div class="settings-item">
                <a href="{{ url_for('privacy_policy') }}" class="settings-link">Privacy Policy</a>
            </div>
        </div>
    </div>
    <script>
        var typed = new Typed('#typed-text', {
            strings: ["Work", "Study", "Chill", "Code"],
            typeSpeed: 120,
            backSpeed: 120,
            backDelay: 500, // Wait for 500ms before backspacing
            smartBackspace: true, // Only backspace what doesn't match the previous string
            loop: true
        });
    </script>
  </body>
</html>
