<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="LofiStudy is a website that helps you to study by giving you a distraction free enviroment." />
        <meta name="author" content="LofiStudy" />
        <title>LofiStudy</title>
        <meta property="og:image" href="{{ url_for('static', filename='picture.png') }}" />
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
        <link rel="music" type="music" href="{{ url_for('static', filename='media/sounds/button-sound.mp3') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <div id="button-sound-path" style="display: none;">
            {{ url_for('static', filename='media/sounds/button-sound.mp3') }}
        </div>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link href="https://unpkg.com/fullcalendar@4.0.0-alpha.4/dist/fullcalendar.min.css" rel="stylesheet" />
        <script src="https://unpkg.com/fullcalendar@4.0.0-alpha.4/dist/fullcalendar.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
        <script>
            var videoFiles = {{ video_files | tojson | safe }};
        </script>
        <script>
            var musicFiles = {{ music_files | tojson | safe }};
        </script>
       
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var charactername = "{{ charactername }}";
                console.log(charactername + " logged in");
            });
            document.addEventListener("DOMContentLoaded", function () {
                $(document).ready(function(){
                    // Get the current value from the server when the page loads
                    $.get('/get-checkbox-value', function(response) {
                        console.log('GET response:', response);  // Print the response from the server
                        $('#watchCheckbox').prop('checked', response.checked);
                        $("#clockgroß").toggle(response.checked);
                    });
                    $('#watchCheckbox').click(function(){
                        var isChecked = $(this).prop("checked");
                        console.log('Checkbox checked:', isChecked);  // Print the current state of the checkbox
                        // Update the value on the server when the checkbox is clicked
                        $.ajax({
                            url: '/update-checkbox-value',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({checked: isChecked}),
                            success: function(response) {
                                console.log('POST response:', response);  // Print the response from the server
                                $("#clockgroß").toggle(isChecked);
                            }
                        });
                    });
                });
            });
        </script>
    </head>
    <style>
        .clock{
            color: white;
        }
        .mode-button {
            font-size: 16px;
            height: 28px;
            cursor: pointer;
            box-shadow: none;
            font-weight: 300;
            color: #fff;
            border: 1px solid transparent;
            margin: 0px;
            border-radius: 4px;
            padding: 2px 12px;
            background: none;
          }
          
          .mode-button.active {
            border-color: #fff;
          }
        progress::-webkit-progress-bar {
            background-color: rgba(0, 0, 0, 0);
          }
          
          progress::-webkit-progress-value {
            background-color: #fff;
          }
        .fade-out {
            transition: opacity 3s ease-out;
            opacity: 0;
        }
        .bg-glass {
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
            border-top: 1px solid rgba(255, 255, 255, 0.2);
          }
          .nav-link i {
            color: white;
            transition: color 0.3s ease;
          }
          
          .nav-link:active i {
            color: #f3a953;
          }
          .centered-content {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh; /* This makes sure it takes up at least the full height of the viewport */
        }
    </style>
    <body style="background: url('{{ url_for('static', filename='media/smartphone/wallpaper.jpg') }}') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <div id="loadingScreen" class="position-fixed w-100 h-100 d-flex justify-content-center align-items-center" style="background: rgba(255,255,255,0.8); z-index: 9999;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="navbar fixed-bottom bg-glass">
            <ul class="nav justify-content-around flex-row">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-home fa-2x"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-content="clock"><i class="fas fa-clock fa-2x"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-content="sounds"><i class="fas fa-envelope fa-2x"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-content="music"><i class="fas fa-bell fa-2x"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"data-content="task" ><i class="fas fa-cog fa-2x"></i></a>
              </li>
            </ul>
          </div>
          </nav>
          <div class="Pomodoro-container">
            <div class="container centered-content">
        </div>
    </div>
        <div class="Pomodoro-container">
          <div class="container centered-content">
            <div class="row">
                <div class="col-sm">
                    <div class="window-content">
                        <main class="app">
                            <div class="timer">
                                <progress id="js-progress" max="100"></progress>
                                <div class="button-group mode-buttons"
                                    id="js-mode-buttons">
                                    <button
                                        data-mode="pomodoro"
                                        class="button active mode-button"
                                        id="js-pomodoro">
                                        Pomodoro
                                    </button>
                                    <button
                                        data-mode="shortBreak"
                                        class="button mode-button"
                                        id="js-short-break">
                                        Short break
                                    </button>
                                    <button
                                        data-mode="longBreak"
                                        class="button mode-button"
                                        id="js-long-break">
                                        Long break
                                    </button>
                                </div>
                                <div class="clock" id="js-clock">
                                    <span id="js-minutes">25</span>
                                    <span class="separator">:</span>
                                    <span id="js-seconds">00</span>
                                </div>
                                <button class="main-button" data-action="start"
                                    id="js-btn">
                                    Start
                                </button>
                                <select class="main-button" data-action="start" style="height: 25px;" id="js-btn" onchange="changeAudioSource(this)">
                                    <option value="break.mp3">Gong Sound</option>
                                    <option value="break1.mp3">Sound off</option>
                                   
                                </select>
                            </div>
                        </main>
                        <div class="hidden">
                            <audio id="pomodoroAudio"
                                src="{{ url_for('static', filename='media/sounds/break.mp3') }}"
                                data-sound="pomodoro"></audio>
                            <audio id="shortBreakAudio"
                                src="{{ url_for('static', filename='media/sounds/break.mp3') }}"
                                data-sound="shortBreak"></audio>
                            <audio id="longBreakAudio"
                                src="{{ url_for('static', filename='media/sounds/break.mp3') }}"
                                data-sound="longBreak"></audio>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Include Bootstrap JS and its dependencies -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                setTimeout(function () {
                    var loadingScreen = document.getElementById('loadingScreen');
                    if (loadingScreen) {
                        loadingScreen.classList.add('fade-out');
            
                        loadingScreen.addEventListener('transitionend', function() {
                            // remove the element from the DOM
                            loadingScreen.parentNode.removeChild(loadingScreen);
                        });
                    }
                }, 3000);
            });

            const timer = {
                pomodoro: 25,
                shortBreak: 5,
                longBreak: 15,
                longBreakInterval: 4,
                sessions: 0,
              };
              document.addEventListener("DOMContentLoaded", (event) => {
                let interval;
              
                const buttonSoundPath =
                  document.getElementById("button-sound-path").textContent;
                const buttonSound = new Audio(buttonSoundPath);
                const mainButton = document.getElementById("js-btn");
                mainButton.addEventListener("click", () => {
                  buttonSound.play();
                  const { action } = mainButton.dataset;
                  if (action === "start") {
                    startTimer();
                  } else {
                    stopTimer();
                  }
                });
              
                const modeButtons = document.querySelector("#js-mode-buttons");
                modeButtons.addEventListener("click", handleMode);
              
                function getRemainingTime(endTime) {
                  const currentTime = Date.parse(new Date());
                  const difference = endTime - currentTime;
              
                  const total = Number.parseInt(difference / 1000, 10);
                  const minutes = Number.parseInt((total / 60) % 60, 10);
                  const seconds = Number.parseInt(total % 60, 10);
              
                  return {
                    total,
                    minutes,
                    seconds,
                  };
                }
              
                function startTimer() {
                  let { total } = timer.remainingTime;
                  const endTime = Date.parse(new Date()) + total * 1000;
              
                  if (timer.mode === "pomodoro") timer.sessions++;
                  mainButton.dataset.action = "stop";
                  mainButton.textContent = "stop";
                  mainButton.classList.add("active");
              
                  interval = setInterval(function () {
                    timer.remainingTime = getRemainingTime(endTime);
                    updateClock();
              
                    total = timer.remainingTime.total;
                    if (total <= 0) {
                      console.log("ZEITENDE", total);
                      clearInterval(interval);
              
                      switch (timer.mode) {
                        case "pomodoro":
                          timer.completedPomodoros++;
                          // Send a POST request to the Flask server
                          fetch("/update_pomodoros", {
                            method: "POST",
                            headers: {
                              "Content-Type": "application/json",
                            },
                            body: JSON.stringify({}), // No need to send any data
                          })
                            .then((response) => response.json())
                            .then((data) => {
                              if (data.success) {
                                console.log("Pomodoros updated successfully!");
                              } else {
                                console.log("Failed to update pomodoros.");
                              }
                            });
                          if (timer.sessions % timer.longBreakInterval === 0) {
                            switchMode("longBreak");
                          } else {
                            switchMode("shortBreak");
                          }
                          break;
                        default:
                          switchMode("pomodoro");
                      }
              
                      if (Notification.permission === "granted") {
                        const text =
                          timer.mode === "pomodoro" ? "Get back to work!" : "Take a break!";
                        new Notification(text);
                      }
              
                      document.querySelector(`[data-sound="${timer.mode}"]`).play();
              
                      startTimer();
                    }
                  }, 1000);
                }
              
                function stopTimer() {
                  clearInterval(interval);
              
                  mainButton.dataset.action = "start";
                  mainButton.textContent = "start";
                  mainButton.classList.remove("active");
                }
              
                function updateClock() {
                  const { remainingTime } = timer;
                  const minutes = `${remainingTime.minutes}`.padStart(2, "0");
                  const seconds = `${remainingTime.seconds}`.padStart(2, "0");
              
                  const min = document.getElementById("js-minutes");
                  const sec = document.getElementById("js-seconds");
                  min.textContent = minutes;
                  sec.textContent = seconds;
              
                  const text =
                    timer.mode === "pomodoro" ? "Get back to work!" : "Take a break!";
                  document.title = `${minutes}:${seconds} — ${text}`;
              
                  const progress = document.getElementById("js-progress");
                  progress.value = timer[timer.mode] * 60 - timer.remainingTime.total;
                }
              
                function switchMode(mode) {
                  timer.mode = mode;
                  timer.remainingTime = {
                    total: timer[mode] * 60,
                    minutes: timer[mode],
                    seconds: 0,
                  };
              
                  document
                    .querySelectorAll("button[data-mode]")
                    .forEach((e) => e.classList.remove("active"));
                  document.querySelector(`[data-mode="${mode}"]`).classList.add("active");
                  document.body.style.backgroundColor = `var(--${mode})`;
                  document
                    .getElementById("js-progress")
                    .setAttribute("max", timer.remainingTime.total);
              
                  updateClock();
                }
              
                function handleMode(event) {
                  const { mode } = event.target.dataset;
              
                  if (!mode) return;
              
                  switchMode(mode);
                  stopTimer();
                }
              
                if ("Notification" in window) {
                  if (
                    Notification.permission !== "granted" &&
                    Notification.permission !== "denied"
                  ) {
                    Notification.requestPermission().then(function (permission) {
                      if (permission === "granted") {
                        new Notification(
                          "Awesome! You will be notified at the start of each Pomodoro session"
                        );
                      }
                    });
                  }
                }
              
                switchMode("pomodoro");
              });
     
        document.addEventListener('DOMContentLoaded', function () {
            const links = document.querySelectorAll('.nav-link');
            const container = document.getElementById('content-container');
        
            links.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
        
                    const content = this.getAttribute('data-content');
                    switch (content) {
                        case 'home':
                            container.innerHTML = document.querySelector('.Pomodoro-container').outerHTML;
                            break;
                        case 'user':
                            container.innerHTML = document.querySelector('.test1-container').outerHTML;
                            break;
                        case 'envelope':
                            container.innerHTML = document.querySelector('.Pomodoro-container').outerHTML;
                            break;
                        case 'bell':
                            container.innerHTML = document.querySelector('.Pomodoro-container').outerHTML;
                            break;
                        case 'cog':
                            container.innerHTML = document.querySelector('.Pomodoro-container').outerHTML;
                            break;
                        case 'clock':
                            container.innerHTML = document.querySelector('.Pomodoro-container').outerHTML;
                            break;
                    }
                });
            });
        });
    </script>
    </body>
</html>