<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LofiStudy is a website that helps you to study.">
    <meta name="author" content="LofiStudy">
    <title>LofiStudy Login</title>
    <meta property="og:image" href="{{ url_for('static', filename='picture.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Figtree:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginstyles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='loginscript.js') }}"></script>
</head>
<body class="login-body" style="background-image: url('{{ url_for('static', filename='loginbg.png') }}'); background-size: cover;">
    <div class="container">
        <div class="login-form">
            <img src="{{ url_for('static', filename='loginlogo.png') }}" alt="" class="login-logo">
                            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-warning">
                    {{ messages[0] }}
                    </div>
                {% endif %}
                {% endwith %}
            <h1 class="login-title">Log in To Continue</h1>
            <form action="{{ url_for('login') }}" method="post">
                <div class="inp">
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>
                <div class="inp password-div1">
                    <input type="password" name="password" id="password" class="password-field" placeholder="Password">
                    <svg class="field-icon toggle-password" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path class="eye-path" fill="#38a4ef" d="M12 9a3.02 3.02 0 0 0-3 3c0 1.642 1.358 3 3 3 1.641 0 3-1.358 3-3 0-1.641-1.359-3-3-3z"/><path fill="#38a4ef" d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 12c-5.351 0-7.424-3.846-7.926-5C4.578 10.842 6.652 7 12 7c5.351 0 7.424 3.846 7.926 5-.504 1.158-2.578 5-7.926 5z"/></svg>
                </div>
                <div class="forgot-password">
                    <a onclick="myFunction()" href="{{ url_for('resetpassword') }}" class="signup-link">Forgot Password?</a>
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>
            <a onclick="myFunction()" href="{{ url_for('signup') }}" class="signup-link">Dont have a account? Sign up</a>
        </div>
    </div>
    <div class="cassette">
        
    <div class="rectangle "> 
        <div class="inner-rectangle">
            <div class="title">
                <p>Lofi Mixtape- Tap to play</p>
            
            </div>
            <div class="title">
              
            </div>
            <div class="ribon-container">
                <div class="box">
                    <div class="tape-wheel">
                        <div class="teethBox ">
                            <div class="teeth">
                            
                            </div>
                            <div class="teeth">
                            
                            </div>
                            <div class="teeth">
                            
                            </div>
                            <div class="teeth">
                            
                            </div>
                        </div>
                    </div>
                    <div class="tape">
                        <div class="tape-ribbon "></div>
                        <div class="tape-ribbon-two "></div>
                    </div>
                    <div class="tape-wheel">
                        <div class="teethBox ">
                            <div class="teeth">
                            
                            </div>
                            <div class="teeth">
                            
                            </div>
                            <div class="teeth">
                            
                            </div>
                            <div class="teeth">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cassette-body">
            <div class="squares">

            </div>
            <div class="squares two">
                
            </div>
        </div>
       
    </div>
    </div>
    
    <audio id="audioPlayer" autoplay loop>
        <source id="audioSource" src="https://namratapdrjs.netlify.app/lofi-music.mp3" type="audio/mpeg">
    </audio>
</body>
</html>
