<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="lo-fi.study is a website that helps you to study.">
    <meta name="author" content="lo-fi.study">
    <meta name="robots" content="noindex">
    <title>lo-fi.study Reset</title>
    <meta property="og:image" href="{{ url_for('static', filename='picture.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Figtree:wght@700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginstyles.css') }}">
    <script src="{{ url_for('static', filename='js/loginscript.js') }}"></script>
</head>
<body class="login-body" style="background-image: url('{{ url_for('static', filename='loginbg.png') }}'); background-size: cover;">
    <div class="container">
        <h1>Enter New Password</h1>
        <form method="POST">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Change Password">
        </form>
        </div>
    </div>
</body>
</html>