<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Figtree:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginstyles.css') }}">
    <script src="{{ url_for('static', filename='loginscript.js') }}"></script>
</head>
<body class="login-body" style="background-image: url('{{ url_for('static', filename='loginbg.png') }}'); background-size: cover;">
    <div class="container">
        <div class="login-form">
            <img src="{{ url_for('static', filename='loginlogo.png') }}" alt="" class="login-logo">
            <h1 class="login-title">resetpasswort</h1>
            <div class="inp">
                <input type="text" id="username" placeholder="Username">
            </div>
            <div class="inp">
                <input type="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="login-button">Sign up</button>
            <a onclick="myFunction()" href="{{ url_for('login') }}" class="signup-link">Already have an Account? Login In</a>
        </div>
    </div>
</body>
</html>