<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
            name="description"
            content="LofiStudy is a website that helps you to study by giving you a distraction free enviroment." />
        <meta name="author" content="LofiStudy" />
        <title>LofiStudy - Singup</title>
        <meta property="og:image" href="{{ url_for('static', filename='picture.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/loginscript.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginstyles.css') }}">
</head>
<style>
    .main .card {
        height: 500px !important;
    }
   
</style>
<body>
    <div class="main">
   
<video autoplay loop muted plays-inline class="vid" >
    <source src="https://res.cloudinary.com/dgp0pgxb8/video/upload/f_auto:video,q_auto/hwxbyk6mq8a0iduh9xf2" >
</video>
    <div class="card">
          <form action="{{ url_for('signup') }}" method="post">
            <h1>Sign up for Lofistudy</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning">
                {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input name ="charactername" id="charactername" type="charactername" required>
                <label for="">Username</label>
            </div>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input name ="email" id="email" type="email" required>
                <label for="">Email</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input name="password" id="password" type="password" required>
                <label for="">Password</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input name="repeat_password" id="repeat_password" type="password" required>
                <label for="">Password</label>
            </div>
          
            <button>Log in</button>
      
            <div class="register">
                <p>Already have an Account?   <a onclick="myFunction()" href="{{ url_for('login') }}" class="signup-link">Login</a>
            </div>
        </form>
    </div>
    <div class="settings-footer">
        <div class="settings-item">
            <a href="{{ url_for('legal_notice') }}"
                class="settings-link">Legal Notice</a>
        </div>
        <div class="settings-item">
            <a href="{{ url_for('privacy_policy') }}"
                class="settings-link">Privacy Policy</a>
        </div>
    </div>
</div>
</body>
</html>